<main class="bg-green-200 min-h-screen min-w-full">
  <section class="p-8">
    <h1 class="text-4xl font-bold">Only Time Will Tell by Jeffrey Archer</h1>
    <p>The first volume of the critically-acclaimed Clifton Chronicles series.</p>
  </section>
</main>
